.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.swiper-button-prev::after,
.swiper-button-next::after
{ display: none; }

.blue{
    color: #2672d8;
}