@import './reset.css';
@import './fonts.css';
@import './common.css';

/* header css */
.header{
    position: fixed;
    width: 100%;
    top: 0;left: 0;
    z-index: 1000;
    background: #fff;
}
.header__inner{ border: 1px solid #e5e5e5;  }
.header__top{ border-bottom: 1px solid #e5e5e5; }
.header__top__inner{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.site{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site__link{
    position: relative;
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 13px;
    padding: 0 16px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    color: #353535;
}
.site__link::before{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    background: url(https://www.yongin.go.kr/resources/user_renewal/_common/images/ico-badge-council@2x.png) center / contain no-repeat;
}
.site__link:hover{ font-weight: bold; }
.header__top--util{ display: flex; align-items: center; }
.weather-area{
    position: relative;
    line-height: 40px;
    padding: 0 16px;
    font-size: 13px;
}
.weather-area::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 13px;
    background-color: #c4c6ca;
}
.weather-area__btn{ display: flex; color: #2a6fe7; }
.weather-area__btn--good{
    color: #2a6fe7;
    padding-right: 10px;
    padding-left: 5px;
}
.login-area__list{ display: flex; }
.login-area__item{
    position: relative;
    display: block;
    color: #353535;
    font-size: 13px;
    line-height: 40px;
    padding: 0 14px;
}
.login-area__item::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 13px;
    background: #c4c6ca;
}
.login-area__item:hover{ font-weight: bold; }
.print__btn{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.print__btn__icon{
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/print_icon.png);
    background-repeat: no-repeat;
}
.print__btn::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 13px;
    background: #c4c6ca;
}
.magnify__list{
    position: relative;
    display: flex;
    gap: 5px;
    padding: 0 13px;
}
.magnify__item a{
    display: inline-block;
    font-size: 13px;
    color: #353535;
    vertical-align: middle;
}
.magnify__list::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 13px;
    background: #c4c6ca;
}
.language{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 119px;
    box-shadow: 0px 4px 5px 0px rgba(58, 109, 213, 0.1);
}
.lang__btn{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding: 0 18px 0 40px;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/lang_icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 18px center;
    overflow: hidden;
    text-align: left;
    color: #353535;
    font-size: 13px;
    z-index: 2;
}
.lang__btn::before{
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 8px;
    height: 4px;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/lang_arrow.png);
    background-repeat: no-repeat;
}
.lang__dropdown{
    display: none;
    position: absolute;
    top: -18px;left: 10px;
    width: 100%;
    padding-top: 40px;
    background-color: #eaf4fd;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 4px 5px 0px rgba(58, 109, 213, 0.1);
    border-radius: 10px;
    z-index: 11;
    overflow: hidden;
    transition: all .3s;
}
.lang__dropdown.active{ display: block; }
.close{
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 18px 0 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(58, 109, 213, 0.1);
    font-size: 13px;
    color: #353535;
    text-align: left;
    z-index: 3;
}
.close::before{
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 8px;
    height: 7px;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/lang_arrow.png);
    background-repeat: no-repeat;
    transform: rotateX(180deg);
}
.lang__list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 10px 13px;
    font-size: 12px;
    line-height: 17px;
    z-index: 2;
}
.familyPop__btn{
    position: relative;
    height: 100%;
    font-size: 14px;
    width: 200px;
}
.familyPop__swiper{
    height: 40px;
    width: 160px;
    background: #293661;
}
.familyPop__item--link{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    color: #fff;
}
.more__btn{
    position: absolute;
    top: 0px;right: 0px;
    width: 70px;
    height: 100%;
    z-index: 10;
}
.more__btn__link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    color: #293661;
    font-weight: 500;
    border: 1px solid #293661;
    border-radius: 200px;
    background: #fff;
}
.more__btn__link::after{
    content: "";
    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    background: url(https://www.yongin.go.kr/resources/user/main/img/home/family_more.png) no-repeat;
}
.header__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo__img{ min-width: 100px; }
.header__nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 0 0 390px;
    width: 1100px;
}
.header__item__link{
    display: block;
    position: relative;
    height: 100px;
    line-height: 100px;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 1.25rem;
}
.header__form{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
}
.search__icon{
    width: 46px;
    height: 46px;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/btn_search_open.png);
    background-color: #fff;
    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap;
}
.menu__icon{
    width: 46px;
    height: 46px;
    background-size: contain;
    display: inline-block;
    background-image: url(https://www.yongin.go.kr/resources/user/main/img/layout/btn_sitemap.png);
    background-color: #fff;
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap;
}
.tab__item{
    position: absolute;
    top: 140px;
    left: 0;
    visibility: hidden;
    width: 100%;
    border-top: 1px solid #eee;
    background: #fff;
    opacity: 0;
    transition: .3s;
}
.tab__item.active{ visibility: visible; opacity: 1; }
.tab__item__inner{ display: flex; }
.tab__item__inner .tab__item__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    padding: 50px;
}
.tab__item__img-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #bd445d;
}
.tab__item__inner .tab__item__left h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    color: #000;
}
.tab__item__inner .tab__item__left p{
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
}
.tab__item__right{ flex: 1; }
.tab__item__right .tab__item__list .tab__item__item{
    display: flex;
    border-bottom: 1px solid #eee;
}
.tab__item__title{
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    width: 250px;
    height: 100px;
    background: #bd445d;
    border-bottom: 1px solid #fff;
}
.tab__item__tab-list{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}
.tab__item__tab-list .tab__item__tab-item{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 30px;
    font-weight: 500;
    color: #222;
    font-size: 15px;
    line-height: 20px;
}
.tab__item__tab-list .tab__item__tab-item:hover{ color: #bd445d; }
.tab__item__tab-list .tab__item__tab-item a{ display: block; }
.tab__item__tab-list .tab__item__tab-item a::before{ content: "- "; }
.side-block{ position: relative; z-index: 10; }
.side-left-block{
    position: fixed;
    top: 50%;left: 0;
    transform: translateY(-50%);
    margin-left: 30px;
}
.side-left-block .side-navi-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-left-block .side-navi-item{
    color: #fff;
    border-radius: 200px;    
    color: #9e9e9e;
}
.side-left-block .side-navi-item a{
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 0 18px 0 43px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.side-left-block .side-navi-item:nth-child(1) a{ background: url("./assets/icon/side_left-ic01.png") no-repeat 25px 9px; }
.side-left-block .side-navi-item:nth-child(2) a{ background: url("./assets/icon/side_left-ic02.png") no-repeat 25px 9px; }
.side-left-block .side-navi-item:nth-child(3) a{ background: url("./assets/icon/side_left-ic03.png") no-repeat 25px 9px; }
.side-left-block .side-navi-item.on{ color: #fff; background: #222; }
.side-left-block .side-navi-item a::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #9e9e9e;
    border-radius: 50%;
    transform: translateY(-50%);
}
.side-right-block{
    position: fixed;
    top: 50%;right: 0;
    transform: translateY(-50%);
    margin-right: 20px;
}
.side-right-block .side-passport-block{ width: 155px; }
.side-right-block .side-passport-block li:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 40px;
    border-radius: 15px;
    background: #bd445d;
}
.side-passport-block li:nth-child(1) .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #fff;
}
.side-passport-block li:nth-child(1) .top strong{
    font-weight: 900;
    line-height: 1;
    font-size: 18px;
}
.side-passport-block li:nth-child(1) .top a{
    display: flex;
    align-items: center;
    margin: 5px auto 0;
    padding: 0 10px;
    height: 25px;
    font-size: 15px;
    color: #bd445b;
    background: #fff;
    border: 0;
    border-radius: 200px;
}
.side-passport-block li:nth-child(1) .top a::after{
    content: '';
    display: block;
    margin-left: 5px;
    width: 13px;
    height: 15px;
    background: url("../icon/reload-ic.png") no-repeat;
}
.side-passport-block li:nth-child(1) .bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    background: #fff;
}
.side-passport-block li:nth-child(1) .bot h2{
    font-size: 17px;
    color: #333;
    font-weight: 500;
}
.side-passport-block li:nth-child(1) .bot p{ font-weight: 700; }
.side-right-block .side-passport-block li:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-top: 7px;
    border-radius: 15px;
    background: #fff;
}
.side-right-block .side-passport-block li:nth-child(2)::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 30px;
    width: 15px;
    height: 23px;
    background: url("../icon/passport01.png") no-repeat;
}
.side-right-block .side-passport-block li:nth-child(2)::after{
    content: '';
    position: absolute;
    top: -15px;
    right: 30px;
    width: 15px;
    height: 23px;
    background: url("../icon/passport01.png") no-repeat;
}
.side-right-block .side-passport-block li:nth-child(2) h2{
    font-size: 17px;
    color: #333;
    font-weight: 500;
}
.side-right-block .side-passport-block li:nth-child(2) p{ color: #bd445b; }
.side-gym-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 15px 12px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 9px 9px 10px rgba(0, 0, 0, .6);
}
.side-gym-block h2{
    line-height: 1.3;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    font-family: "GmarketSans";
}
.side-gym-block span{ color: #b52e47; }
.side-gym-block a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px auto 0;
    width: 90px;
    height: 26px;
    font-size: 11px;
    color: #fff;
    background: #2646a6;
    border-radius: 200px;
}
.side-gym-block a::after{
    content: '';
    display: block;
    margin-left: 12px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

@media (max-width:970px) {
    .header__top--util{ display: none; }
    .header__list{ display: none; }
    .header__logo{
        width: 150px;
        padding-left: 30px;
    }
}
@media (max-width:500px) {
    .header__logo{
        width: 110px;
        padding-left: 0px;
    }
}