.container{ position: relative; margin-top: 140px; }

/* sec-main */
.sec-main{ background: #ededed; }
.main__inner{
    max-width: 1400px;
    /* width: 1400px; */
    margin: 0px auto;
    padding: 10px;
}
.contentSearch-group{ display: flex; gap: 10px; max-width: 1400px; }
.contentSearch-group .yongin-banner{
    position: relative;
    display: block;
    width: 360px;
    height: 140px;
    border-radius: 10px 10px 10px 30px;
    perspective: 1000px;
    transition: 1s;
    transform-style: preserve-3d;
    background: #fff;
}
.contentSearch-group .yongin-banner:hover { transform: rotateY(180deg); }
.contentSearch-group .yongin-banner div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px 10px 10px 30px;
}
.contentSearch-group .yongin-banner .front-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentSearch-group .yongin-banner .back-card{
    transform: rotateY(180deg);
    color: #fff;
    padding: 10px;
    background: #bd445d;
}
.contentSearch-group .yongin-banner .back-card::after{
    background: url(https://www.yongin.go.kr/resources/user/main/img/layout/renaissance_img.png) no-repeat;
    content: "";
    position: absolute;
    bottom: 0;
    right: -32px;
    width: 133px;
    height: 180px;
}
.back-card h5{ font-size: 18px; font-weight: 700; }
.back-card p{ line-height: 1.5; font-size: 14px; }
.contentSearch-group .yongin-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentSearch-group .search-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px 30px 10px 10px;
    padding: 10px 60px 10px 70px;
    height: 140px;
    flex: 1;
    background: #fff;
}
.search-left-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.contentSearch-group .search-block .search-form{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-form .search-input{
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #333;
}
.search-form .btn-search{
    position: absolute;
    right: 0;top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}
.hottag-block{ 
    display: flex;
    gap: 10px;
}
.hottag-block .hot-keyword{
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #333;
}
.hottag-block .hottag-list{
    display: flex;
    gap: 5px;
    color: #333;
    font-size: 14px;
}
.hottag-block .hottag-list .hottag-item::before{ content: "#"; margin-right: 2px; }

/* contentbanner css */

.contentBanner-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.swiper-area{
    position: relative;
    flex: 1;
    max-width: 870px;
}
.swiper-area .swiper-tab-block{ display: flex; gap: 5px; }
.swiper-area .swiper-tab-block .visual-tab{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: #6F6F6F;
    border-radius: 10px 10px 0 0;
    cursor: grab;
    color: #fff;
}
.swiper-area .swiper-tab-block .visual-tab.on{
    background: #fff;
    font-weight: 500;
    color: #333;
}
.swiper-area .visual-swiper{
    position: relative;
    padding: 13px;
    padding-bottom: 23px;
    border-radius: 0 10px 0px 0px;
    background-color: #fff;
}
.swiper-area .visual-swiper .swiper-wrapper{ width: 100%; border-radius: 50px; }
.swiper-area .visual-swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-play-pause{    
    position: absolute;
    top: 13px; right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid #000;
}
.swiper-play-pause .play-ic{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
}
.swiper-play-pause .play-ic.off{ opacity: 1; }
.swiper-ctrl-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}
.swiper-ctrl-block .visual-btn { width: 40px; height: 40px; }
.swiper-ctrl-block .visual-btn.prev{ left: 40px; }
.swiper-ctrl-block .visual-btn.next{ right: 40px; transform: rotate(180deg); }
.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.btn-tooltip{
    position: absolute;
    top: 13px; right: 150px;
    border: 1px solid #000;
    border-radius: 50%;
}
.btn-tooltip img{ width: 25px; margin-left: 6px; }


.mayor-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 26px;
}
.mayor-area .mayor-top-block{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    height: 80px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, .1);
}
.mayor-area .mayor-top-block .mayor-top-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mayor-top-block .mayor-top-list .mayor-top-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
}
.mayor-top-block .mayor-top-list .mayor-top-item:nth-child(2){ background-color: #e6e8f0; }
.ico {
    display: block;          
    background-repeat: no-repeat;    
    overflow: hidden;                
    text-indent: -9999px;           
    margin-right: 10px;              
}
.ic-organ{
    width: 33px;
    height: 33px;
    background: url("../icon/mayor-top-item01.png");
    margin-right: 10px;
    background-position: center center;  
    background-size: cover;          
}
.ico-office{
    width: 24px;
    height: 37px;
    background: url("../icon/mayor-top-item02.png");
    margin-right: 10px;
    background-position: center center;  
    background-size: cover; 
}
.ico-live{
    width: 31px;
    height: 28px;
    background: url("../icon/mayor-top-item03.png");
    margin-right: 10px;
    background-position: center center;  
    background-size: cover; 
}
.mayor-top-block .mayor-top-list .mayor-top-item a{
    display: flex;
    color: #222;
    font-size: 1em;
}
.mayor-mid-block{ position: relative; padding-bottom: 50px; }
.mayor-mid-block img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.mayor-mid-block .section-title{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 35px;
    line-height: 1.2;
    font-size: 22px;
    color: #fff;
    font-family: "GmarketSans";
}
.mayor-mid-block .section-title span{}
.mayor-mid-block .section-title strong{
    font-size: 32px;
    font-weight: 400;
    font-family: "ChosunGs";
}
.mayor-mid-subtitle{
    position: absolute;
    bottom: -12px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 12px 35px 6px;
    width: 100%;
    line-height: 1.3;
    font-size: 22px;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    font-family: "GmarketSans";
    z-index: 9;
}
.mayor-bot-block{
    width: 100%;
    background: #c3324d;
    border-radius: 10px;
    padding: 2px 0;
    color: #fff;
}
.mayor-bot-block .mayor-bot-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mayor-bot-block .mayor-bot-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 50px;
}
.mayor-bot-block .mayor-bot-item a::before{
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 19px;
    height: 17px;
    vertical-align: middle;
    aspect-ratio: 1;
    background-size: 100%;
    transform: translateY(-1px);
}
.mayor-bot-block .mayor-bot-item:nth-child(1) a::before{
    background: url("../icon/mayor-bot-item01.png") no-repeat;
}
.mayor-bot-block .mayor-bot-item:nth-child(2) a::before{
    background: url("../icon/mayor-bot-item02.png") no-repeat;
}
.mayor-bot-block .mayor-bot-item:nth-child(3) a::before{
    background: url("../icon/mayor-bot-item03.png") no-repeat;
}
.mayor-bot-block .mayor-bot-item a::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 17px;
    background: #fff;
    transform: translateY(-50%);
}


.sec-service{
    position: relative;
    width: 100%;
    background: #fff;
}
.sec-service .service-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px auto;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 50px;
    margin-bottom: 100px;
}
.service-list .service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.service-list .service-icon-block:hover{ background: #c3324d; }
.service-list .service-item .service-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: transparent;
}
.service-item-link .service-icon-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    width: 150px;
    height: 150px;
    border-radius: 35px;
    padding: 10px;
    transition: background-color .3s;
}
.service-item-link .service-icon-block img{
   max-width: 65%;
}
.service-item-link .service-text{
    margin-top: 7px;
    font-size: 16px;
    color: #666;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    word-break: keep-all;
    vertical-align: top;
}

.ai-area{
    position: relative;
    max-width: 1400px;
}
.ai-area .ai-inner{
    display: flex;
    align-items: center;
}
.ai-title-block{
    position: absolute;
    min-width: 220px;
    height: 120px;
    border-radius: 60px;
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #a0293f, #c0314c);
}
.ai-mygroup-block{
    display: flex;
    justify-content: space-between;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 200px;
    margin-left: 85px;
    padding: 25px 70px 25px 110px;
}
.ai-mygroup-block .ai-mygroup-content{
    width: 50%;
}
.ai-mygroup-block .ai-mygroup-content:nth-child(1){
    padding-left: 60px;
    border-right: 1px solid #dedede;
}
.ai-mygroup-block .ai-mygroup-content:nth-child(2){
    padding-left: 60px;
}
.ai-mygroup-block .ai-mygroup-content .ai-group-title{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.ai-mygroup-block .ai-mygroup-content .ai-group-title h3{
    font-size: 24px;
    font-weight: 600;
}
.ai-mygroup-block .ai-mygroup-content .ai-group-title::before{
    content: "";
    display: block;    
    background: url("/assets/icon/star.png") no-repeat;
    background-size: contain;
    width: 26px;
    height: 22px;
}
.ai-group-title img{}

.ai-tag-list{
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    margin-top: 20px;
}
.ai-tag-list .ai-tag-item{ margin-top: 20px; }
.ai-tag-list .ai-tag-item .ai-tag-item-link{
    background: transparent;
    border: 1px dashed #dedede;
    border-radius: 20px;
    padding: 8px 13px;
}
.ai-tag-list .ai-tag-item .ai-tag-item-link:hover{ color: #c0314c; }


/* news-area css */

.news-area{
    position: relative;
    width: 100vw;
    padding: 100px 0;
    margin: 100px 0;
    background: var(--red);
}
.news-area .news-inner{
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
.news-tab-content{ 
    position: relative;
    margin-top: 50px;
}
.news-header-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news-title-block .news-title-tx{
    font-size: 36px;
    color: var(--white);
    font-weight: 700;
}
.news-tab-content .news-tab-pane{ display: none; }
.news-tab-content .news-tab-pane.active{ display: block; }

.news-tab-list-block .news-tab-list{
    display: flex;
    gap: 10px;
    color: var(--white);
}
.news-tab-list-block .news-tab-item .news-tab-item-link{
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 700;
}
.news-tab-list-block .news-tab-item .news-tab-item-link.on{
    background: var(--white);
    color:#000;
}
.news-tab-list .news-tab-item:last-child .news-tab-item-link{
    border: none;
    background-color: #9f1b36;
}
.news-tab-pane-slide-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 235px;
    padding: 38px 34px 39px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
}
.news-tab-pane-slide-tit {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: var(--red);
}
.news-tab-pane-slide-link:hover strong{
    color: var(--red);
}
.news-tab-pane-slide-link strong {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    width: 100%;
    min-height: 60px;
    margin: 19px 0 0;
    font-size: 22px;
    color: #333;
    line-height: 30px;
    letter-spacing: -0.03em;
    font-weight: 600;
    word-break: keep-all;
    overflow: hidden;
    transition: color 500ms ease;
}
.news-tab-pane-slide-time{
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    color: #878787;
    line-height: 20px;
    letter-spacing: -0.03em;
    font-weight: 200;
}
.news-tab-pane-slide-time::before{
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(/assets/icon/news_sp.png);
    background-repeat: no-repeat;
    background-position: left top;
    content: '';
}
.news-tab-content .news-tab-swiper-btn{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
}
.news-tab-content .news-tab-swiper-btn::before{
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    width: 10px;
    height: 18px;
    margin-left: 0px;
    background-image: url(/assets/icon/slide-ctl_ic.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    content: '';
    transform-origin: 50% 50%;
}
.news-tab-content .news-tab-swiper-btn.next{ 
    right: 0px;
    transform: rotate(180deg);
}
.news-tab-content .news-tab-swiper-btn.prev{ left: 0; }

/* news01-area css */
.news01-area{
    position: relative;
    width: 100%;
}
.news01-area .news01-inner{ 
    max-width: 1400px; 
    margin: 0 auto;
    padding: 0 10px;
}
.news01-head-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.news01-head-block .news01-title-tx{
    font-size: 36px;
    color: #000;
    font-weight: normal;
}
.news01-head-block p{
    font-size: 13px;
    color: #333;
    position: relative;
    padding-right: 40px;
}
.news01-head-block .btn-more{
    padding: 10px 15px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;

}

.news01-content{
    width: 100%;
    padding-bottom: 30px;
}
.news01-content .news01-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news01-item .news01-item-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news01-item .news01-item-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.news01-item .news01-item-link .news01-item-title{
    font-weight: 600;
    max-height: 48px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}
.news01-item .news01-item-link .news01-item-subtitle{
    font-size: 15px;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: 48px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* admin section css */
.sec-admin{
    position: relative;
    width: 100%;
    padding: 100px 0;
}
.sec-admin .admin-bg{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 666px;
    object-fit: cover;
    z-index: -10;
}
.admin-inner{
    max-width: 1400px;
    margin: 0 auto;
}

.admin-tab-block{ width: 100%; }
.admin-tab-block .admin-tab-list{
    display: flex;
    justify-content: space-between;
}
.admin-tab-block .admin-tab-item{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 5px;
    max-width: 340px;
    width: 100%;
    height: 50px;
}
.admin-tab-item.active{ background: #c3324d; }
.admin-tab-block .admin-tab-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
}
.admin-tab-swiper{
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);    
    padding: 0 40px;
}
.admin-tab-swiper .swiper-wrapper{
    display: flex;
    align-items: center;
    height: 230px;
}
.admin-tab-swiper .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-tab-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 130px;
    height: 130px;
}
.admin-tab-link img{ max-width: 47%; }
.admin-tab-link-tx{
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.admin-tab-swiper .btn{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    background: #ccc;
    height: 100%;
    width: 40px;
}
.admin-tab-swiper .btn.prev{
    left: 0;
    background: url("https://www.yongin.go.kr/resources/user_renewal/www/images/home/ico_swiper_left.png") center/15px 27px no-repeat;
}
.admin-tab-swiper .btn.next{
    right: 0;
    background: url("https://www.yongin.go.kr/resources/user_renewal/www/images/home/ico_swiper_right.png") center/15px 27px no-repeat;
}
.admin-sns-block{
    margin-top: 50px;
    width: 100%;
}
.admin-sns-block .admin-sns-content{
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);    
}
.admin-sns-block .admin-sns-content .sns-title{
    font-size: 22px;
    font-weight: normal;
    color: #fff;
}
.admin-sns-block .admin-sns-content .sns-icon-list{ display: flex; gap: 10px; }
.admin-sns-block .admin-sns-content .sns-icon-item a img{ width: 40px; height: 40px; }

/* footer css */
.footer{ position: relative; }
.familysite-block{
    height: 60px;
    background-color: #383f4c;
}
.footer-inner .familysite-list{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fff;
}
.footer-inner .familysite-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #404959;
}
.footer-inner .familysite-item .familysite-item-link{
    padding-left: 30px;
    width: 100%;
}
.footer-inner .familysite-item .familysite-item-link h3{
    position: relative;
    display: flex;
    width: 100%;
    font-size: 16px;
}
.footer-inner .familysite-item .familysite-item-link h3::after{
    position: absolute;
    top: 0;right: 20px;
    width: 25px;
    height: 25px;
    content: "";
    background: url("https://www.yongin.go.kr/resources/user/main/img/layout/familysite_open.png") no-repeat;
    background-position: 93% center;
}
.footer-block{
    position: relative;
    background: #fff;
    padding: 50px 10px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.footer-content .footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-content .footer-item{ display: flex; gap: 30px; }
.footer-content .footer-item .call-num{
    background: url("https://www.yongin.go.kr/resources/user/main/img/layout/callcenter_icon.png") no-repeat;
    background-size: 25px 23px;
    background-position: left center;
    padding-left: 30px;
}
.footer-content .footer-item .call-num span:nth-child(2),
.call-num02 strong
{
    font-size: 24px;
    font-weight: bold;
}
.footer-content .footer-item .call-num02{
    display: flex;
    align-items: center;
    background: url("https://www.yongin.go.kr/resources/user/main/img/layout/messagecenter_icon.png") no-repeat;
    background-size: 25px 23px;
    padding-left: 30px;
    background-position: left center;

}
.footer-content .footer-item .footer-menu-list{ display: flex; }
.footer-content .footer-item .footer-menu-item::after{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #c4c6ca;
    vertical-align: middle;
}
.footer-content .footer-right{
    display: flex;
    gap: 10px;
    height: 60px;
}

/* mobile view */
@media (max-width:1440px) {
    .side-block{ display: none; }
}
@media (max-width:1400px) {
    .service-list{ grid-template-columns: repeat(4,1fr); }
    .swiper-area{ max-width: 770px; }
}
@media (max-width:1200px) {
    .hottag-block{ 
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .swiper-area{ max-width: 100%; }
    .contentBanner-group{ flex-direction: column; }
    .footer-content{
        flex-direction: column;
    }
}
@media (max-width:970px) {
    .contentSearch-group .yongin-banner{ display: none; }  
    .chatbot-area{ display: none; }
    .ai-area{ display: none; }
    .news-header-block{ flex-direction: column; }
    .news-tab-list-block .news-tab-list{ gap: 10px; }
    .news-tab-list-block .news-tab-item .news-tab-item-link{
        border: none;
        padding: 0px;
        font-size: 15px;
    }
    .footer-content .footer-item .call-num span:nth-child(2),
    .call-num02 strong
    {
        font-size: 12px;
    }
   
}
@media (max-width:768px) {
    .container{ position: relative; margin-top: 100px; }

    .hottag-block{ display: none; }
    .service-list{ grid-template-columns: repeat(2,1fr); }
    .mayor-top-block .mayor-top-list .mayor-top-item{ font-size: 12px; }
    .swiper-ctrl-block{ height: 30px; }
    .swiper-ctrl-block .visual-btn { width: 25px; height: 25px; }
    .swiper-play-pause{ display: none; }
    .btn-tooltip{ display: none; }
    .mayor-bot-block .mayor-bot-item{ font-size: 12px; }

    .news-tab-list-block .news-tab-item .news-tab-item-link{ font-size: 12px; }
    .footer-inner .familysite-item .familysite-item-link h3{ 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px; 
    }
    .footer-inner .familysite-item .familysite-item-link{ padding-left: 0px; }
    .footer-inner .familysite-item .familysite-item-link h3::after{ display: none; }
    /* news-area css */

}

